<div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." id="txtSearch"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="btnSearch">Go!</button>
      </span>
    </div>
</div>
<div class="pull-right">
    <div class="btn-group" role="group" aria-label="sort">
        <button id="btnSortAZ" type="button" class="btn btn-default">A - Z</button>
        <button id="btnSortZA" type="button" class="btn btn-default">Z - A</button>
        <button id="btnSortClear" type="button" class="btn btn-default">Clear</button>
    </div>
</div>